.main{
    border: 1px solid black;
    

}
.small{
    border:1px solid green;
    height: 150px;
    width:  150px;
    float: left;
    margin: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
     
}
.clearfix{
    clear: both;;
}
.small:hover{
    color:rgb(7, 12, 78);
    text-decoration:line-through red;
    cursor:not-allowed
}